<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find simple2wheeler)/world/simple2wheeler.world"/>
        <arg name="gui" value="true"/>
        <!-- 
        <arg name="gui" value="False"/>
        -->
    </include>
    
    <param name="robot_description" command="$(find xacro)/xacro '$(find simple2wheeler)/urdf/simple2wheeler.xacro'"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model simple2wheeler"/>

    <!-- jotain liikettä robottiin -->
    <node name="random_mover" pkg="simple2wheeler" type="random_mover.py" output="screen">
        <remap from="/random_mover/cmd_vel" to="cmd_vel" /> 
    </node>

</launch>
